* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.button__log {
    height: 35px;
    background: #004dff;
    border: none;
    cursor: pointer;
    width: 150px;
    bottom: 50px;
    color: #ffffff;
    border-radius: 3px;
    font-size: 14px;
    position: absolute;
    top: 0;
    margin: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px 20px;

  .boards {
    display: flex;
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      align-self: baseline;
      max-width: 250px;
      width: 100%;
      background-color: rgba(0,0,0, .5);
      margin: 0 15px;
      padding: 10px;
      transition: .3s all ease;
      border-radius: 15px;
      min-width: 200px;

      .title {
        padding: 5px;
        color: #ffffff;

        &:focus {
          outline: 1px solid rgba($color: #858585, $alpha: .5)
        }
      }

      .list {
        min-height: 50px;

        &__item {
          background-color: #fefefe;
          border-radius: 8px;
          padding: 10px;
          text-align: center;
          margin: 4px 0;
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          border: none;
        }
      }

      .form {
        border-radius: 3px;
        margin-top: auto;
        display: none;

        .textarea {
          resize: none;
          height: 60px;
          border-radius: 8px;
          border: none;
          background: #ffffff;
          padding: 10px;
          width: 100%;

          &:focus {
            outline: none;
          }
        }

        .buttons {
          display: flex;

          .add__item-btn {
            background: #00BFFF;
            border: none;
            height: 35px;
            cursor: pointer;
            color: #ffffff;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 100%;
          }

          .cancel__item-btn {
            padding: 0 10px;
            background: #ff0856;
            border: none;
            border-radius: 3px;
            height: 35px;
            cursor: pointer;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            margin-left: auto;
            flex-shrink: 0;
          }
        }
      }

      .add__btn {
        height: 30px;
        background: #858585;
        border-radius: 5px;
        display: flex;
        font-size: 12px;
        align-items: center;
        padding-left: 10px;
        margin-top: 5px;
        color: #ffffff;
        cursor: pointer;

        span {
          font-size: 20px;
          margin-right: 10px;
          color: white;
        }
      }
    }
  }

  .button {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #004dff;
    border: none;
    cursor: pointer;
    width: 150px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    border-radius: 3px;
    font-size: 14px;
  }
}



.forma {
  width: 380px;
  height: 280px;
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5%;
  display: none;

  &__btn {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;

    .toggle__btn {
      border: none;
      padding: 10px;
      margin-top: 10px;
      background-color: #222b41;
      border-radius: 50px;
      color: #fff;
      width: 150px;
      cursor: pointer;
      outline: none;
    }

    .login {
      background-color: #3c71f2;
    }
  }

  &__input {
    position: absolute;
    top: 25%;
    display: flex;
    width: 500px;
    left: 100px;
    justify-content: space-between;
    transition: all 0.3s ease 0s;


    &--group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      .input__field {
        border: none;
        padding: 10px;
        background-color: #858585;
        border-radius: 50px;
        color: #fff;
        width: 200px;

        &::placeholder {
          color: #fff;
        }
      }

      .submit__btn {
        border: none;
        padding: 10px;
        margin-top: 10px;
        background-color: #222b41;
        border-radius: 50px;
        color: #fff;
        width: 150px;
      }
    }
  }

  .button__close {
    border: none;
    background-color: #FF0000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 85%;
    left: 5%;
  }

}